src/main/webapp/wsdl/ManageServiceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://serviceportfolio.impl.application.billing.ams.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://serviceportfolio.impl.application.billing.ams.com" xmlns:intf="http://serviceportfolio.impl.application.billing.ams.com" xmlns:tns1="http://servicecatalog.model.domain.billing.ams.com" xmlns:tns2="http://repository.domain.sharedkernel.ams.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://serviceportfolio.impl.application.billing.ams.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://repository.domain.sharedkernel.ams.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://servicecatalog.model.domain.billing.ams.com"/>
   <element name="getService">
    <complexType>
     <sequence>
      <element name="svcCode" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getServiceResponse">
    <complexType>
     <sequence>
      <element name="getServiceReturn" type="tns1:Service"/>
     </sequence>
    </complexType>
   </element>
   <complexType name="ArrayOf_xsd_anyType">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
   <element name="removeService">
    <complexType>
     <sequence>
      <element name="svcCode" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="removeServiceResponse">
    <complexType/>
   </element>
   <element name="registerService">
    <complexType>
     <sequence>
      <element name="svc" type="tns1:Service"/>
     </sequence>
    </complexType>
   </element>
   <element name="registerServiceResponse">
    <complexType>
     <sequence>
      <element name="registerServiceReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateServiceDetails">
    <complexType>
     <sequence>
      <element name="svc" type="tns1:Service"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateServiceDetailsResponse">
    <complexType>
     <sequence>
      <element name="updateServiceDetailsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllServices">
    <complexType/>
   </element>
   <element name="getAllServicesResponse">
    <complexType>
     <sequence>
      <element name="getAllServicesReturn" type="impl:ArrayOf_xsd_anyType"/>
     </sequence>
    </complexType>
   </element>
   <element name="getServicesNextPage">
    <complexType>
     <sequence>
      <element name="index" type="xsd:int"/>
      <element name="offset" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="getServicesNextPageResponse">
    <complexType>
     <sequence>
      <element name="getServicesNextPageReturn" type="tns2:Page"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://servicecatalog.model.domain.billing.ams.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://serviceportfolio.impl.application.billing.ams.com"/>
   <import namespace="http://repository.domain.sharedkernel.ams.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <complexType name="Service">
    <sequence>
     <element name="srvcCode" nillable="true" type="xsd:string"/>
     <element name="srvcDescription" nillable="true" type="xsd:string"/>
     <element name="srvcName" nillable="true" type="xsd:string"/>
     <element name="srvcPriceSet" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://serviceportfolio.impl.application.billing.ams.com"/>
   <import namespace="http://repository.domain.sharedkernel.ams.com"/>
   <import namespace="http://servicecatalog.model.domain.billing.ams.com"/>
   <complexType name="Vector">
    <sequence>
     <element maxOccurs="unbounded" minOccurs="0" name="item" type="xsd:anyType"/>
    </sequence>
   </complexType>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://repository.domain.sharedkernel.ams.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://serviceportfolio.impl.application.billing.ams.com"/>
   <import namespace="http://xml.apache.org/xml-soap"/>
   <import namespace="http://servicecatalog.model.domain.billing.ams.com"/>
   <complexType name="Page">
    <sequence>
     <element name="currentIndex" type="xsd:int"/>
     <element name="nextIndex" type="xsd:int"/>
     <element name="noOfRecordsPerFetch" type="xsd:int"/>
     <element name="pageDataList" nillable="true" type="impl:ArrayOf_xsd_anyType"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="registerServiceRequest">

      <wsdl:part element="impl:registerService" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateServiceDetailsResponse">

      <wsdl:part element="impl:updateServiceDetailsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="registerServiceResponse">

      <wsdl:part element="impl:registerServiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getServicesNextPageResponse">

      <wsdl:part element="impl:getServicesNextPageResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeServiceResponse">

      <wsdl:part element="impl:removeServiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getServiceResponse">

      <wsdl:part element="impl:getServiceResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getServiceRequest">

      <wsdl:part element="impl:getService" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getServicesNextPageRequest">

      <wsdl:part element="impl:getServicesNextPage" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllServicesResponse">

      <wsdl:part element="impl:getAllServicesResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllServicesRequest">

      <wsdl:part element="impl:getAllServices" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateServiceDetailsRequest">

      <wsdl:part element="impl:updateServiceDetails" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="removeServiceRequest">

      <wsdl:part element="impl:removeService" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ManageServiceImpl">

      <wsdl:operation name="getService">

         <wsdl:input message="impl:getServiceRequest" name="getServiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:getServiceResponse" name="getServiceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeService">

         <wsdl:input message="impl:removeServiceRequest" name="removeServiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:removeServiceResponse" name="removeServiceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerService">

         <wsdl:input message="impl:registerServiceRequest" name="registerServiceRequest">

       </wsdl:input>

         <wsdl:output message="impl:registerServiceResponse" name="registerServiceResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateServiceDetails">

         <wsdl:input message="impl:updateServiceDetailsRequest" name="updateServiceDetailsRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateServiceDetailsResponse" name="updateServiceDetailsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllServices">

         <wsdl:input message="impl:getAllServicesRequest" name="getAllServicesRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllServicesResponse" name="getAllServicesResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getServicesNextPage">

         <wsdl:input message="impl:getServicesNextPageRequest" name="getServicesNextPageRequest">

       </wsdl:input>

         <wsdl:output message="impl:getServicesNextPageResponse" name="getServicesNextPageResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ManageServiceImplSoapBinding" type="impl:ManageServiceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="removeService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="removeServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="removeServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="registerService">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="registerServiceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="registerServiceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateServiceDetails">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateServiceDetailsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateServiceDetailsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllServices">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllServicesRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllServicesResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getServicesNextPage">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getServicesNextPageRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getServicesNextPageResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ManageServiceImplService">

      <wsdl:port binding="impl:ManageServiceImplSoapBinding" name="ManageServiceImpl">

         <wsdlsoap:address location="http://localhost:8081/AmsaaS/services/ManageServiceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
